html,body{
  width: 100%;
  height: 100%;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0
}
body{
  
}
#root{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 1136px;
  height: 640px;
  background-image: url('./imgs/desk.jpg');
}
#root img{
  width: 52px;
  height: 75px;
  margin-left: 10px
}
.player{
  width: 124px;
  height: 75px
}
.player:nth-of-type(1){
  left: 506px;
  bottom: 185px
}
.player:nth-of-type(2){
  top: 265px;
  right: 180px;
  transform:rotate(90deg)
}
.player:nth-of-type(3){
  top: 145px;
  left: 506px;
}
.player:nth-of-type(4){
  top: 265px;
  left:180px;
  transform:rotate(90deg)
}
button{
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50px,-20px);
  top: 50%;
  width: 100px;
  height: 40px;
  line-height: 40px;
  border-radius: 6px;
  text-align: center;

}
p{
  position: absolute;
  top: 40%;
  left: calc(50% - 6px);
  font-size: 20px;
  color: white
}